<% include header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li class="active">阿里Wanted</li>
                <li class="active">无法抑制我内心的狂热，对未来的执着</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <h1>文章列表</h1>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <% posts.forEach(function(post,index){ %>
            <div class="col-xs-6 col-md-3">
                <a href="/post/<%=post._id%>" class="sharpThumb">
                    #<%=index + 1%>
                </a>
                <div class="caption">
                    <h3><%=post.title%></h3>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>


<% include footer.ejs %>