<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/public/stylesheets/post.css' />
    <link rel='stylesheet' href='/public/stylesheets/home.css' />
    <link rel='stylesheet' href='/public/stylesheets/ali.css' />
    <link rel='stylesheet' href='/public/stylesheets/theme.css' />
    <link rel='stylesheet' href='/public/stylesheets/body.css' />
    <link rel="stylesheet" href="/public/stylesheets/animations.css" type="text/css" media="screen" />
</head>
<body>

<div class="wrap-all">
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">JOHN 约汉</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/list/">文章</a></li>
                    <li><a href="/video/">视频</a></li>
                    <li><a href="/body/">健身日志</a></li>
                    <li><a href="/mock/">仿物志</a></li>
                </ul>
            </div>

        </div>
    </nav>