<% include header.ejs %>

<div class="container">
    <form action="/users/reg" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="passwod"/>
        <input type="submit" value="Register" />
    </form>
</div>

<% include footer.ejs %>  