 #allData{
    width:70%;
}

.smallDraw {
    width:100%;
}

.caption p{
    margin-bottom:0;
    color:rgb(119, 119, 119);
}



.bm{
    color:rgb(250, 54, 73);
}

.w{
    color:rgb(250, 54, 73);
}

.fc{
    color:rgb(250, 54, 73);
}