h1 {
    color:rgb(110, 110, 110);
}

.post-info  {
    color:rgb(191, 191, 191);
}

.post-content {
    margin-top:20px;
    color:rgb(85, 85, 85);
    word-wrap: break-word;
}
.post-content p {
    font-size:1.4em !important;
}

.footer{
    background:rgb(248, 248, 248);
    text-align:center;
    color:#777;
    font-size:18px;
    padding:8px 0;
    margin-top:30px;
    border-top:1px solid #e7e7e7;
}
.container-fluid{
    padding:0;

}