
<div class="push"></div>
</div>
<div class="container-fluid">
    <div class="footer">
        ©2015 shunotes.com 粤ICP备15006635号
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>