<% include ../header.ejs %>
<div class="container">

    <!-- 原字符-->
    <h3>元字符\b</h3>
    代表单词的边界（开头或结尾）

    <h3>.</h3>
    代表除了换行符以外的任意字符

    <h3>数字符\d</h3>
    匹配数字

    <h3>空白符\s</h3>
    表示任意的空白，空格，制表符（tab），换行符

    <h3>\w </h3>
    匹配字母或数字或下划线或汉字

    <!-- 数量控制符-->

    <h3>连续字符{}</h3>
    表示前一个匹配字符的数量,例:{1,3},从1到3

    <h3>+数量控制符</h3>
    表示1或更多的匹配字符

    <h3>?逻辑控制符</h3>
    表示0或1个匹配字符

    <h3>*数量控制符</h3>
    表示任意个匹配字符

    <!-- 结构符-->
    <h3>^ 结构控制符</h3>
    表示开头的字符

    <h3>$ 结构控制符</h3>
    表示结尾的字符


    <h3>｜ 分枝条件</h3>
    表示满足任意一个逻辑分枝就成立，但是一旦匹配某种情况就不会继续匹配。


    <!-- 真正的干货-->




</div>

<% include ../footer.ejs %>